<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">
        <li<%= sidebar_current("docs-home") %>>
        <a href="/docs/providers/index.html">All Providers</a>
                </li>

        <li<%= sidebar_current("docs-nks-index") %>>
        <a href="/docs/providers/nks/index.html">NKS Provider</a>
                </li>

        <li<%= sidebar_current("docs-nks-resource") %>>
        <a href="#">Data Sources</a>
                <ul class="nav nav-visible">
                    <li<%= sidebar_current("docs-nks-datasource-instances") %>>
                        <a href="/docs/providers/nks/d/nks_instances.html">nks_instance_specs</a>
                    </li>
                    <li<%= sidebar_current("docs-nks-datasource-keyset") %>>
                        <a href="/docs/providers/nks/d/nks_keyset.html">nks_keyset</a>
                    </li>
                    <li<%= sidebar_current("docs-nks-datasource-organization") %>>
                        <a href="/docs/providers/nks/d/nks_organization.html">nks_organization</a>
                    </li>
                    <li<%= sidebar_current("docs-nks-datasoruce-workspace") %>>
                        <a href="/docs/providers/nks/d/nks_workspace.html">nks_workspace</a>
                    </li>
                </ul>
        </a>
        <a href="#">Resources</a>
                <ul class="nav nav-visible">
                    <li<%= sidebar_current("docs-nks-resource-cluster") %>>
                        <a href="/docs/providers/nks/r/nks_cluster.html">nks_cluster</a>
                    </li>
                    <li<%= sidebar_current("docs-nks-resource-istio-mesh") %>>
                        <a href="/docs/providers/nks/r/nks_istio_mesh.html">nks_istio_mesh</a>
                    </li>
                    <li<%= sidebar_current("docs-nks-resource-keyset") %>>
                        <a href="/docs/providers/nks/r/nks_keyset.html">nks_keyset</a>
                    </li>
                    <li<%= sidebar_current("docs-nks-resource-masternode") %>>
                        <a href="/docs/providers/nks/r/nks_masternode.html">nks_masternode</a>
                    </li>
					<li<%= sidebar_current("docs-nks-resource-nodepool") %>>
                        <a href="/docs/providers/nks/r/nks_nodepool.html">nks_nodepool</a>
                    </li>
                    <li<%= sidebar_current("docs-nks-resource-solution") %>>
                        <a href="/docs/providers/nks/r/nks_solution.html">nks_solution</a>
                    </li>
                    <li<%= sidebar_current("docs-nks-resource-workspace") %>>
                        <a href="/docs/providers/nks/r/nks_workspace.html">nks_workspace</a>
                    </li>
        </ul>
        </li>
      </ul>
    </div>
  <% end %>

  <%= yield %>
  <% end %>
